*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}

html,body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
a{
  cursor:pointer;
}
/*Global Layout */
@media screen and (max-width: 1000px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 25px;
    /*border: 1px dashed rgba(255,0,0,0.3);*/
    display: inline-block;
}
.grid-base{
    position: absolute;
    top:0;
    left: 0;
    width: 100%
}
.grid-base .col-1{
    height: 1000px;
}
.toptop{
  position:fixed;
  background-color: white;
  height: 30%;
}
  #logo{
    width:50%;
    float:right;
    margin-right: -.5%;
    transform: translate(15%, -26%);
  }
  #oval{
    float:left;
    transform: translate(-40%, -5%);
  }

.topbar{
    position:fixed;
    height:15%;
    background-color: white;
    margin-top: 23.5%;
    padding-right: 0;
    padding-top: 1%;
  }
.meta ul{
  position: fixed;
  width: 100%;
  margin-left: -1%;
}
.meta li{
  font-family: Helvetica-Bold;
  font-size: 20px;
  color: #000000;
  list-style: none;
  float: left;
  margin-left: 10%;
  border-bottom: 2px solid black;
  }


.discover-feed{
  margin-top: 36.5%;
  padding:0;
  margin-left: 0;
  position:fixed;
}
.discover-image{
  margin-top: 7%;
}

#discover-1, #discover-4{
    margin-left: 2%;
    width: 45%;
  }
#discover-3{
    margin-right: 0;
    width:50%;
  }
#discover-2{
  margin-left: 1.89%;
  width: 50%;
}
#discover-4{
  margin-bottom: 4.5%;
}
#discover-1{
  margin-bottom: .5%;
}
.heart, .heart2{
  position:fixed;
  width:100%;
  margin-top: 4%;
}
.icon-heart{
  width:40px;
}
.heart p{
  text-align: center;
font-family: Helvetica;
font-size: 14px;
color: #000000;
}
.heart-1, .heart-3, .heart-2-1, .heart-2-3{
  position:fixed;
  margin-left: 2%;
}
.heart-2, .heart-4, .heart-2-2, .heart-2-4{
  position: fixed;
  margin-left: 87.5%;
}
.heart-3, .heart-4, .heart-2-3, .heart-2-4{
  margin-top:99.5%;
}

.question-icons{
  position:fixed;
  margin-left: 34%;
  margin-top: -1%;
  width: 50%;
}

#question2{
    margin-left: 39%;
}
.bottombar{
  position:fixed;
  height:10%;
  background-color: white;
  margin-top: 159.5%;
  padding: 0%;
  padding-top: 5%;
  text-align: center;
}
.bottom-icons{
  margin-left: 0%;
  display: inline-block;
  margin-top: -3%;
  width: 32%;
}
.bottombar p{
  font-family: Helvetica;
  font-size: 10px;
  color: #000000;
}
#click{
  display:block;
  position:fixed;
  margin-left:44%;
  margin-top: -3%;
}
#bluerec{
  background: rgba(0,0,255,0.50);
  width:100%;
  height:200%;
  position: fixed;
  z-index: 95;
  margin:0;
  transform: translate(0,-50%);
}
.popup, .popup2{
  background: rgba(0,0,255,0.80);
  box-shadow: 8px 4px 4px 0 rgba(0,0,0,0.50);
  width:70%;
  height:480px;
  position: fixed;
  transform: translate(21%, 20%);
  z-index: 100;
  padding: 5%;
  display: block;
  text-align: center;
}
#cross{
  float:right;
}
#welcome-text{
  width:86%;
  transform: translate(10%,18%);
}
#welcome-text p{
font-family: Helvetica-Bold;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
text-align: left;
margin-bottom: 5%;
letter-spacing: .8px;
}
#welcome-text a{
  font-family: Helvetica-Bold;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  letter-spacing: .8px;
  text-decoration: underline;
}
#headshot{
  margin-top: 15%;
  margin-left: 8%;
  margin-bottom: 10%;
}
.popup-text1{
  font-family: Helvetica-Bold;
  font-size: 20px;
  color: #FFFFFF;
  padding-left:15%;
  padding-right:15%;
  padding-top: 8%;
  padding-bottom: 5%;
}

.username, .password{
  width:174px;
  height:45px;
  border-style:solid;
  border-width: 2px;
  border-color: white;
  margin-left: 13%;
}
.username textarea, .password textarea{
padding: 8%;
border: none;
outline: none;
overflow: auto;
background:transparent;
font-family: Helvetica;
font-size: 18px;
color: #FFFFFF;
text-align: center;
padding-top: 6%;
resize:none;
}
#done{
  text-decoration: underline;
}
#signup{
  margin-top: 5%;
}
}
