*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

#loading{
  width:100%;
  position:fixed;
  z-index: 1;
  opacity: 0.5;
  /*transform: translate(-10%,18%);*/
}
#logo{
  width:40%;
  position:fixed;
  z-index: 2;
  transform: translate(80%,350%);
}
