*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}

html,body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
a{
  cursor:pointer;
}
/*Global Layout */
@media screen and (max-width: 1000px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 25px;
    /*border: 1px dashed rgba(255,0,0,0.3);*/
    display: inline-block;
}
.grid-base{
    position: absolute;
    top:0;
    left: 0;
    width: 100%
}
.grid-base .col-1{
    height: 1000px;
}
.toptop{
  position:fixed;
  background-color: white;
  height: 25%;
  padding-bottom: 0;
}
  #logo{
    width:175px;
    float:right;
    margin-right: -.5%;
    transform: translate(15%, -26%);
  }
  #oval{
    float:left;
    transform: translate(-40%, -5%);
    width:38.5px;
  }

.topbar{
    position:fixed;
    height:12%;
    background-color: white;
    margin-top: 23.5%;
    padding-right: 0;
    padding-top: 1%;
    padding-bottom: 0;
  }
.meta ul{
  position: fixed;
  width: 100%;
  transform: translate(-10%,0)
}
.meta li{
  font-family: Helvetica-Bold;
  font-size: 20px;
  color: #000000;
  list-style: none;
  float: right;
  margin-left: 25%;
  border-bottom: 2px solid black;
  cursor: pointer;
  }
.meta2{
  margin-top: 10%;
}
.meta2 ul{
    position: fixed;
    width: 100%;
    transform: translate(-10%,0)
  }
.meta2 li{
font-family: Helvetica;
font-size: 18px;
color: #000000;
list-style: none;
float: right;
margin-left: 8%;
cursor:pointer;
}
.meta3{
  margin-top: 10%;
}
.meta3 ul{
    position: fixed;
    width: 255px;
    margin-left: -9%;
  }
.meta3 li{
  font-family: Helvetica;
  font-size: 18px;
  color: #000000;
  list-style: none;
  float: left;
  margin-left: 12.5%;
  cursor:pointer;
  }
#click2{
  position:fixed;
  z-index: 120;
  transform:translate(270px, 46px);
}
#click3{
  position:fixed;
  z-index: 111;
  transform:translate(-20px, 46px);
}
.mapfeed{
  width:100%;
  height:70%;
  position: fixed;
  transform:translateY(30%);
  background-image: url("img/map1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/*#map1{
  width:100%;
}*/

.bottombar{
  position:fixed;
  height:10%;
  background-color: white;
  margin-top: 159.5%;
  padding: 0%;
  padding-top: 5%;
  text-align: center;
  z-index:110;
}
.bottom-icons{
  margin-left: 0%;
  display: inline-block;
  margin-top: -3%;
  width: 32%;
}
.bottombar p{
  font-family: Helvetica;
  font-size: 10px;
  color: #000000;
}
.bottombar a{
  text-decoration: none;
}
#click{
  display:block;
  position:fixed;
  margin-left:78%;
  margin-top: -3%;
}
.content{
  position: fixed;
  z-index:120;
}
#greyrec{
background: rgba(155,155,155,0.30);
width:100%;
height:200%;
position: fixed;
z-index: 121;
margin:0;
transform: translate(0,-50%);
}
#location{
  width:70%;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.30);
}

.popup{
  width:100%;
  position: fixed;
  transform: translateY(120%);
  text-align: center;
  z-index: 122;
}
#cross{
  float:right;
}
#sidebar{
  background-color:white;
  box-shadow: 0 8px 8px 4px rgba(0,0,0,0.50);
  width:75%;
  height:100%;
  position: fixed;
  z-index: 160;
}
#logo2{
  width:60%;
  float:left;
  margin-left: -9%;
  transform: translate(15%, 4%);
}
#oval2{
  float:left;
  width:23%;
  margin-top: 1%;
}
#user{
  width:100%;
  height:13%;
  display: inline-block;
  padding-left: 5%;
  padding-right: 12%;
  margin-top: 20%;
}
#name p{
font-family: Helvetica-Bold;
font-size: 18px;
color: #000000;
margin-right: 0;
}
#name{
  width:50%;
  margin-left: 27%;
  margin-top: 8%;
}
#vip{
  width:12%;
  transform: translate(330%,-200%);
}
#arrow{
  width:3%;
  float: right;
  margin-top: -6%;
}
#hairstyle{
  width:100%;
  height:8%;
  display: inline-block;
  padding-left: 5%;
  padding-right: 12%;
  padding-top: 7%;
  padding-bottom: 5%;
  background: rgba(155,155,155,0.10);
  border-bottom:1px solid #DCDCDC;
}
#user-heart{
  width:8%;
  float:left;
  margin-left:8%;
}
#hs{
  width:50%;
  margin-left:20%;
}
#salon{
  width:100%;
  height:8%;
  display: inline-block;
  padding-left: 5%;
  padding-right: 12%;
  padding-top: 7%;
  padding-bottom: 5%;
  background: rgba(155,155,155,0.10);
}
#user-star{
  width:8%;
  float:left;
  margin-left:8%;
}
#sl{
  width:50%;
  margin-left:20%;
}
#salonlist, #hairstylelist{
  color: black;
}
}
