*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

/*Global Layout */
/*@media screen and (max-width: 1000px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 25px;
    /*border: 1px dashed rgba(255,0,0,0.3);*/
    /*display: inline-block;
}
.grid-base{
    position: absolute;
    top:0;
    left: 0;
    width: 100%
}
.grid-base .col-1{
    height: 1000px;
}*/
#skip{
font-family: Helvetica;
font-size: 18px;
color: #0000FF;
position: fixed;
z-index: 102;
margin-top: 159%;
margin-left: 15%;
}
#bar {
  width: 100%;
  position: fixed;
  text-align: center;
  margin-top: 160%;
  z-index: 101;
}
#content {
    width: 100%;
    overflow: hidden;
    position: relative;}

.gallery {
    float: left;
    display: inline;
    padding: 0;
    margin: 0;
    margin-left: 6%;
    width: 1920px;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transform: translate(0, 0);
}

.slide {
    display: inline-block;
    padding: 0;
    width: 350px;
    height: auto;
    transform: translate(0, 0);
    text-align: center;
}
.slide p{
font-family: Helvetica-Bold;
font-size: 24px;
color: #000000;
line-height: 30px;
width:200px;
margin: auto;
position: relative;
z-index: 100;
margin-top: -60%;
}
#loading{

}
